.cadastro-container {
  background: white;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  width: 100%;
}

.cadastro-container button {
  width: 60%;
  padding: 10px;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.cadastro-container input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.DirecionarLogin {
  text-align: center;
  margin-top: 10px;
}

.DirecionarLogin u {
  font-weight: bold;
}
