.tituloTarefas {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.relato-container-tarefa {
  background: white;
  padding: 5px;
  text-align: center;
  align-items: center;
  width: 30%;
  height:90px !important;
  margin-bottom: 0px;
  border-radius: 8px;
}
.tarefa-item{
    display: flex;
    justify-content: space-around;
}

.status-tarefa{
    font-size: 15px;
}
.qtd{
    font-size: 25px;
    font-weight: bold;
}

.tarefas{
    margin-top: 20px !important;
}

.pendentes{
    margin-top: 10px !important;
}

.relato-container-status{
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}

.voltarTarefas{
    margin-left: 10px;
}

.listagem-tarefas {
  width: 100%;
  max-height: 430px; /* ou qualquer altura que desejar */
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 14px;
}

.titulo-bnt-minhas-tarefas{
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-minhas-tarefas{
    margin-top: 7px !important;
}
