version: "3.7"

services:
  postgres:
    image: bitnami/postgresql:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=sistema-zeladoria
    volumes:
      - sistema-zeladoria_pg_data:/bitnami/postgresql

volumes:
  sistema-zeladoria_pg_data:
