.titulo {
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
  }


  .botao {
    text-align: center;
  }

  .home-container{
    background-Color: #e8e7e8
  }
  
  .TextoRodape{
     text-Align: center;
  }

  .textoZeloPlus{
    margin-top: -15px !important;
    background-color: #E8E7E8 !important;
  }

  .header{
    margin-top: 2rem;
  }