.cadastro-container {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 45px;
    text-align: center;
    margin-left: 30px;
    width: 85%;
  }

  .cadastro-container button {
    width: 60%;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }

  .cadastro-container input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .DirecionarLogin{
    text-align: center;
    margin-top: 10px;
  }

  .DirecionarLogin u{
     font-Weight: bold
  }