.login-container {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 45px;
    text-align: center;
    margin-left: 30px;
    width: 85%;
  }

  .LogoGoogle {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  .google{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.forgot-password {
    margin-top: 10px;
    font-size: 20px;
    color: purple;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
  }

  .direcionar-cadastro{
    display: flex;
    flex-Direction: column;
    justify-Content: center;
    align-Items: center;
    margin-Top: 40px;
  }

  .login-container input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }