.RedefinirSenha-container {
  background: white;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  width: 100%;
}

.RedefinirSenha-container button {
  width: 60%;
  padding: 10px;
  background-color: #4169E1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.RedefinirSenha-container input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formularioRedefinirSenha {
  margin-top: 7pc !important;
}