.tituloNotificacoes {
  margin-bottom: 0px;
  margin-left: 10px;
}

.Doar{
    display: flex;
    flex-Direction: column;
    text-Align: center;
    align-Items: center;
    margin-Top: 20px;   
}

.imgDoar{
    height: 100px !important;
    width: 100px !important;
    margin-Top: 20px 
}