.historico-chamados {
  margin-top: 20px;
}

.botoes-usuario {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.botaoEditarUsuario {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px !important;
}

.botaoExcluirUsuario {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px !important;
}

.informacoes-usuario {
  margin-top: 20px;
}

.nome-usuario {
  margin-top: 20px !important ;
}

.tituloUsuario{
  display: flex;
  align-items: center;
  gap: 10px;
}
.tituloUsuario h1{
  margin-top: 8px;
}