.relato-container {
  background: white;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}

.relato-container button {
  width: 60%;
  padding: 10px;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.relato-container input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.relato-container textarea {
  width: 94%;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 6pc;
  margin-top: 10px;
}

.botaoEnviarDenuncia {
  text-align: center;
}

.imagem {
  border: 0px !important;
  margin: 0px !important;
}

.inserirImagem {
  margin-top: 0.5rem;
  margin-bottom: 5px;
}

select {
  width: 94%;
  height: 2pc;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.localizacao-input {
  margin-top: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 40px !important;
}
