.sobre-container {
  background: white;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  width: 100%;

}

.sobre-container button {
  width: 60%;
  padding: 10px;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.sobre{
  margin-top: 75px !important;
}