.categoriaefiltro{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: left !important; 
    width: 100% ;
    margin-top:20px
}

.relato-container {
  background: white;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.titulohistorico{
    margin-bottom: 0px!important;
}

.listagem-historico {
  width: 100%;
  max-height: 430px; 
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 14px;
}