.titulo {
    text-align: center;
    font-size: 35px;
    font-family: "Montserrat", Arial, sans-serif;
  }

  .subtitulo {
    font-size: 19px;
    margin-top: 5px;
    text-align: center;
    font-family: "Montserrat", Arial, sans-serif;
  }

  .botao {
    text-align: center;
  }

  .home-container{
    background-Color: #F2F2F2
  }
  
  .TextoRodape{
     text-Align: center;
  }