.usuario-container {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 45px;
    text-align: center;
    margin-left: 30px;
    width: 85%;
  }

  .usuario-container button {
    width: 60%;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }

  .FotoPerfil {
    width: 100px;
    height: auto;
  }

  .DadosUsuario {
    align-Items: center;
    text-Align: center;
    margin-Bottom: 10px;
  }

  .MinhasDenuncias{
    margin-Top: 20px;
    padding: 5px
  }

  .Denuncias{
   margin-Top: 20px
  }