.denuncia-container {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 45px;
    text-align: center;
    margin-left: 30px;
    width: 85%;
  }

  .denuncia-container button {
    width: 60%;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }

  .denuncia-container input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

    .denuncia-container textarea {

        width: 94%;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        height: 6pc;

    }
