.denuncia-container {
  background: white;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.denuncia-container button {
  width: 60%;
  padding: 10px;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.denuncia-container input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.denuncia-container textarea {
  width: 94%;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 6pc;
}

.botaoEnviarDenuncia {
  text-align: center;
}

.imagem {
  border: 0px !important;
  margin: 0px !important;

}

.inserirImagem {
    margin-top: .5rem;
    margin-bottom: 5px;
}