img {
  width: 100%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100% !important;
  text-align: center;
}

a,u {
  color: white !important;
}

h3,h2 {
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  margin: 0px !important;
  width: 100%;
}

header {
  text-align: center;
  color: default;
}

footer {
  font-size: 15px;
  text-align: center;
}
 
main {
  flex: 1;
  width: 100%;
}

button {
  padding: 13px 5rem;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 19px !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}


button:hover {
  background-color: purple;
}

body {
  background-color: #3d1b5a !important;
}

.text {
  font-size: 23px;
  margin-top: 2rem;
  font-family: "Montserrat", Arial, sans-serif;
  margin-left: 25px;
}

.btnVoltar{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

.icones {
  width: 30px;
  height: 30px;
}








