img {
  width: 65%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100% !important;
  font-size: 15px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F6F8F9;
  margin: 0px !important;
  width: 100%;
}

header {
  text-align: center;
  color: default;
}

main {
  flex: 1;
  width: 100%;
  background-color: #F6F8F9;
}

button {
  padding: 13px 5rem;
  background-color: #4169E1;
  color: white;
  border: none;
  border-radius: 5px !important;
  cursor: pointer !important;
  font-size: 19px !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

button:hover {
  background-color: #00008B;
}

main
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 40px;
}

p{
  margin-bottom: 0px !important;
}

.text {
  font-size: 23px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: "Montserrat", Arial, sans-serif;
  text-align: center;
}

.btnVoltar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icones {
  width: 30px;
  height: 30px;
}

.logo {
  width: 100%;
  height: auto;
}
