.usuario-container {
  background: white;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  width: 85%;
}

.usuario-container button {
  width: 60%;
  padding: 10px;
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.FotoPerfil {
  width: 100px;
  height: auto;
}

.DadosUsuario {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.MinhasDenuncias {
  margin-top: 20px;
  padding: 5px;
}

.Denuncias {
  margin-top: 20px;
  text-align: left !important;
}

.status {
  font-weight: 550;
}
.local {
  color: gray;
}

.DenunciasFeitas {
  width: 85%;
  height: 250px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 14px;
}

.tituloUsuario{
  text-align: center;
  margin-bottom: 20px;
  
}